

.App {
  text-align: center;
  text-decoration: underline;
  background-color: #B3BF40;
  border: 2px solid grey;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contact {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5px 2px 2px;
padding: 4%;
}

button {
  align-items: center;
}


