

.App {
  text-align: center;
  text-decoration: underline;
  background-color: #B3BF40;
  border: 2px solid grey;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav navBar {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  padding: 5px;
 

}

