body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.pages{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 35px;
}
